@use "sass:math";
$weights: (
  "300": 300,
  "400": 400,
  "500": 500,
  "600": 600,
  "700": 700,
);
@each $key, $val in $weights {
  .fw-#{$key} {
    font-weight: $val;
  }
}

.body {
  font-size: math.div(18rem, 16);
  line-height: 140%;
  @include sm {
    font-size: math.div(32rem, 16);
  }
}
.name {
  font-size: math.div(15rem, 16);
  @include sm {
    font-size: math.div(20rem, 16);
  }
}

.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
