<section id="testimonials" class="testimonials" aria-label="testimonials">
  <div class="testimonial"></div>
  <div class="testi__nav | d-flex rounded justify-center align-center">
    <button>
      <svg
        class="prev-btn"
        xmlns="http://www.w3.org/2000/svg"
        width="12"
        height="18"
      >
        <path fill="none" stroke="#8585AC" stroke-width="3" d="M11 1L3 9l8 8" />
      </svg>
    </button>
    <button>
      <svg
        class="next-btn"
        xmlns="http://www.w3.org/2000/svg"
        width="13"
        height="18"
      >
        <path fill="none" stroke="#8585AC" stroke-width="3" d="M2 1l8 8-8 8" />
      </svg>
    </button>
  </div>
</section>
